In [1]:
import pandas as pd

In [4]:
df = pd.read_excel(r"data\Produto.xlsx")
df.head(10)

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0
5   5               Perfume     29            1
6   6      Creme de Barbear     15            1
7   7       Hidratante caro    800            1
8   8               Shampoo     15            1
9   9        Protetor Solar     11            1